button.option {

    cursor: pointer;

    max-width: 115px;

    font-size: 24px;
    padding: 20px 32px 20px 32px;
    border: 3px solid black;
    border-radius: 20px;
    filter: drop-shadow(4px 2px 0px #000000);
    margin: 10px;
    background-color: #434371;
    color: white;

    transition: all .1s;
}

button.option:hover {
    background-color: #505168;
    transition: all .1s;
}